# PCADA

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [2]:
# Chargement de la base
import pandas as pd
DTrain = pd.read_excel("./data/Data_Illustration_Livre_ADL.xlsx",sheet_name="DATA_2_TRAIN",header=0)
DTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   TYPE    52 non-null     object
 1   MEOH    52 non-null     float64
 2   ACET    52 non-null     float64
 3   BU1     52 non-null     float64
 4   BU2     52 non-null     float64
 5   ISOP    52 non-null     int64
 6   MEPR    52 non-null     float64
 7   PRO1    52 non-null     float64
 8   ACAL    52 non-null     float64
dtypes: float64(7), int64(1), object(1)
memory usage: 3.8+ KB

In [3]:
from discrimintools import PCADA
res_pcada = PCADA(n_components=None,target=["TYPE"],priors="prop")
res_pcada.fit(DTrain)

PCADA(priors='prop', target=['TYPE'])

In [4]:
res_pcada.lda_model_.coef_

      KIRSCH     MIRAB     POIRE
Z1 -4.866605  1.451182  3.048228
Z2  0.534208 -0.529084 -0.057264
Z3  0.436843  0.365030 -0.645089
Z4  5.939155 -2.494951 -3.177068
Z5 -2.747863  1.772826  1.006065
Z6  2.586556  1.224959 -3.117292
Z7  1.505985  0.455617 -1.621800
Z8  3.276267 -2.291882 -1.065916

In [5]:
res_pcada.lda_model_.intercept_

             KIRSCH     MIRAB     POIRE
Intercept -8.146909 -2.886328 -3.761888

In [6]:
res_pcada.coef_

        KIRSCH     MIRAB     POIRE
MEOH -0.865561  0.306321  0.505986
ACET -0.050249  0.101306 -0.033267
BU1  -0.385141  0.255202  0.135968
BU2  -0.441147  0.046071  0.340422
ISOP  0.061087  0.101043 -0.127706
MEPR  0.088422 -0.292154  0.143957
PRO1  0.471867 -0.100496 -0.325715
ACAL  0.159520 -0.132230 -0.036420

## Application sur le Test

In [7]:
DTest = pd.read_excel("./data/Data_Illustration_Livre_ADL.xlsx",sheet_name="DATA_2_TEST",header=0)
DTest.head()

     TYPE  MEOH  ACET  BU1   BU2  ISOP  MEPR  PRO1  ACAL
0  KIRSCH     3    15  0.2  30.0     9     9   350   9.0
1  KIRSCH   475   172  1.9   7.0   113    33   546  14.0
2  KIRSCH   186   101  0.0   1.6    36    11   128   8.0
3  KIRSCH   371   414  1.2   0.0    97    39   502   9.0
4  KIRSCH   583   226  2.3  19.0   120    46   656  11.0

In [8]:
yPred = res_pcada.predict(DTest)
yPred

0     KIRSCH
1     KIRSCH
2     KIRSCH
3     KIRSCH
4     KIRSCH
5     KIRSCH
6     KIRSCH
7     KIRSCH
8     KIRSCH
9     KIRSCH
10    KIRSCH
11    KIRSCH
12    KIRSCH
13    KIRSCH
14     POIRE
15     MIRAB
16     MIRAB
17     MIRAB
18     MIRAB
19     MIRAB
20     MIRAB
21     MIRAB
22     MIRAB
23     MIRAB
24     MIRAB
25     MIRAB
26     MIRAB
27     POIRE
28     MIRAB
29     MIRAB
30     POIRE
31     MIRAB
32     MIRAB
33     MIRAB
34     POIRE
35    KIRSCH
36     POIRE
37     POIRE
38     MIRAB
39     POIRE
40     POIRE
41     POIRE
42     POIRE
43     POIRE
44     POIRE
45     POIRE
46     POIRE
47     MIRAB
48     POIRE
49     POIRE
Name: prediction, dtype: object

In [9]:
pd.crosstab(DTest.TYPE,yPred)

prediction  KIRSCH  MIRAB  POIRE
TYPE
KIRSCH          14      0      0
MIRAB            0     14      3
POIRE            1      5     13